html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  zoom: 1;
}

body {
  font-family: "Source Code Pro", monospace, sans-serif;
  background-color: #efd297;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.global {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav ul {
  display: flex;
}
.nav a {
  margin: 0 20px;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.nav a.current {
  color: #777;
  cursor: not-allowed;
  font-style: italic;
}

.nav a.current:hover {
  color: #777;
  background-color: transparent;
}

.nav a:hover {
  color: white;
  background-color: grey;
  border-radius: 10px;
}
.panierTotal {
  border: 2px solid orange;
  border-radius: 10px;
  padding: 0 10px;
}
/* fin du header */

/* début de la section */
.global-produit {
  margin-top: 80px;
  padding: 0 40px;
}
.global-produit:hover {
  opacity: 0.7;
}
.global-description {
  text-align: center;
  padding: 24px 15px 24px 15px;
  border-top: 2px solid orange;
}
.global-fond {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.global-confirm {
  display:flex;
  flex-direction: column;
  align-items:space-between;
  justify-content:center;
  margin: 0 auto;
  height:100%;
  
}

.global-confirm h2 {
  display:block;
  margin-top:2rem;
  margin-bottom:2rem;
  width:100%;
  font-weight:700;
  font-size:2rem;
  text-align: center;
  color:#dfa52d;
}

.global-confirm h3 {
  display:block;  
  margin-bottom:1.2rem;
  width:100%;
  font-weight:700;
  font-size:2rem;
  text-align: center;
  color:#000;
}

.global-confirm p {
  margin-top:1rem;
  text-align:center;
}

.global-fond img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  height: 300px;
  width: 100%;
  /* width: auto;
  height: 300px;  
  margin: 0 auto;
  display: block; */
}
.global-title {
  margin-top: 80px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}
.globalCard {
  padding: 0 0 40px 0;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.75);
  cursor: pointer;
  width: 30%;
  margin: 100px 20px;
}
.global-fond img:hover {
  opacity: 0.7;
  background-color: orange;
}
.globalSelect select {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 90px;
  display: block;
  border: 2px solid orange;
  outline: none;
  border-radius: 5px;
  font-family: "Source Code Pro", monospace, sans-serif;
  font-size: 17px;
}
.globalH2Select {
  text-align: center;
  padding: 10px 0 20px 0;
}
.selectBtn {
  width: 50%;
  margin: 0 auto;
  display: block;
  border: 2px solid orange;
  outline: none;
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.selectBtn:hover {
  color: #fff;
  background: orange;
}

.btn-submit {
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
  color: orange;
  border: 2px solid orange;
  padding: 10px 0;
  cursor: pointer;
  background-color: #fff;
}
.btn-form {
  margin: 0 auto;
}
.btn-submit:hover{
  color: #fff;
  background-color: orange;
}

/*.form-wrapper {
  padding: 4rem;
}

.form__group {
  padding: 0;
}

.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__input {
  padding: 1rem 1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  color: inherit;
  font-family: inherit;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  transition: all 0.3s;
  outline: none;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid green;
}
.form__input:focus:invalid {
  border-bottom: 3px solid red;
}
.form__input::-webkit-input-placeholder {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
}
.form__label {
  color: #333;
  font-weight: 700;
  margin-left: 1rem;
  margin-top: 0.7rem;
  opacity: 1;
  display: block;
  transform: translateY(-3.5rem);
  transition: all 0.3s;
}
.form__input:not(placeholder-shown) + .form__label{
  opacity: 1;
  visibility: visible;
  transform: translateY(-6.5rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0rem);
}*/

.form__group {
  display: flex;
  flex-direction: column-reverse;
  margin: 1.2rem 0;
  position: relative;
}

input, label, button {
  -webkit-transition: all .3s;
  transition: all .3s;
}

label {
  cursor: text;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  position: absolute;
  top: 0.5em;
  color: #2b2823;
}

textarea.form__input,
input.form__input {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: none;
  outline: none;
  background: transparent;
  color: #2b2823;
}

textarea.form__input::-webkit-input-placeholder,
input.form__input::-webkit-input-placeholder {
  opacity: 0;
}

textarea.form__input:-ms-input-placeholder,
input.form__input:-ms-input-placeholder {
  opacity: 0;
}

textarea.form__input::-ms-input-placeholder,
input.form__input::-ms-input-placeholder {
  opacity: 0;
}

textarea.form__input::placeholder,
input.form__input::placeholder {
  opacity: 0;
}

textarea.form__input:not(:placeholder-shown) ~ label,
textarea.form__input:focus ~ label {
  -webkit-transform: translate(0.3em, -2.2em) scale(0.9);
          transform: translate(0.3em, -2.2em) scale(0.9);
  padding-left: 0;
  color: #2b2823;
  opacity: 1.0;
}

input.form__input:not(:placeholder-shown) ~ label,
input.form__input:focus ~ label {
  -webkit-transform: translate(0.3em, -1.5em) scale(0.9);
          transform: translate(0.3em, -1.5em) scale(0.9);
  padding-left: 0;
  color: #2b2823;
  opacity: 1.0;
}

.input-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 8px;
  /* transform: translate(8px, 0px) scale(1.0); */
  pointer-events: none;
  color: #003F5A;
  font-size: 1em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form__input-focus {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.form__input-focus::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background: #5c6e91;
}

textarea.form__input:focus ~ .input-icon,
input.form__input:focus ~ .input-icon {
  color: #DDA266;
  padding-left: 3px;
  font-size: 1.2em;
}

textarea.form__input:focus ~ .form__input-focus::before,
input.form__input:focus ~ .form__input-focus::before {
  width: 90%;
  background: #DDA266;
}

textarea.form__input:not(:placeholder-shown) ~ .form__input-focus::before,
input.form__input:not(:placeholder-shown) ~ .form__input-focus::before {
  width: 100%;
  background: #8DB596;
}

textarea.form__input:focus ~ .input-icon
input.form__input:focus ~ .input-icon {
  color: #DDA266;
}

textarea.form__input:not(:placeholder-shown) ~ .input-icon,
input.form__input:not(:placeholder-shown) ~ .input-icon {
  color: #8DB596;
}

.form-container {
  padding:1rem;
  width:90%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__box {
  display: table;
  width: 75%;
  background-color: #efd297;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  transform: scale(0.25);
  transition: all 0.5s 0.2s;
}
.popup__box-close:link,
.popup__box-close:visited {
  position: absolute;
  color: #000;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
  color: white;
}
.popup__box-close:hover {
  color: orange;
}
.popup__side-left {
  display: table-cell;
  width: 33.33333%;
}
.popup__side-right {
  display: table-cell;
  width: 66.666667%;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid var(--color-grey-light-2);
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__box {
  transform: scale(1);
}
.placeOrder {
  color: #fff;
  margin-top: 14px;
  text-align: center;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .globalCard {
    width: 100%;
  }
  .global {
    flex-direction: column;
  }
}
/* Fin de la section */
/* Début du footer */
footer {
  background-color: #dfa52d;
  color: white;
  padding: 40px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin-top: 90px;
}
